* {
	-fx-font-family: sans-serif;
	-fx-font-size: 16.0;
}

Button {
	-fx-pref-width: 100.0px;
    -fx-background-position: left;
    -fx-background-size: 32.0px;
    -fx-background-repeat: no-repeat;
    -fx-content-display: right;
    show-mnemonic: true;
    /*
    -fx-alignment: center-right;
    */
}

SudokuTextField {
	-fx-alignment: center;
	-fx-pref-column-count: 1.0;
	-fx-border-color: black;
	-fx-border-style: solid;
}

SudokuTextField.IDLE {
    
}

SudokuTextField.ORIGINAL {
    -fx-font-weight: bold;
}

SudokuTextField.FILLED {
    
}

SudokuTextField.EVALUATING {
    -fx-background-color: yellow;
}

SudokuTextField.GUESSING {
    -fx-background-color: cyan;
}

SudokuTextField.ERROR {
    -fx-background-color: red;
}

#pnlCells {
}

#pnlControls, #pnlCells {
	-fx-grid-lines-visible: false;
}

.label-title {
	-fx-text-alignment: right;
}

.label-title.counter,  .counter {
    /*
    visibility: hidden;
    */
}

#btnRun {
    -fx-background-image: url(/icons/appbar.control.play.png);
}

#btnClean {
    -fx-background-image: url(/icons/appbar.clean.png);
}

#btnStop {
    -fx-background-image: url(/icons/appbar.control.stop.png);
}

#btnReset {
    -fx-background-image: url(/icons/appbar.reset.png);
}

